<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="../favicon.ico" type="image/x-icon">
	<meta name="Author" content="GW">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="description" content="GW description">
	<meta name="keyword" content="GW keyword">

	<title>GW-ONE-MORE</title>
	<link rel="stylesheet" type="text/css" href="../css/styles.min.css">
	<link rel="stylesheet" type="text/css" href="../css/font/iconfont.min.css">
	<script type="text/javascript" src="../js/vender/vender.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="head">GW ONE MORE</div>
		<div class="logo">
			<img src="../images/hsf.png">
		</div>
		<div class="list-box">
			<div class="list five"></div>
			<div class="list six"></div>
			<div class="list seven"></div>
			<div class="list eight"></div>
		</div>
		<div><i class="iconfont icon-icon_logo"></i></div>
	</div> 
	<script type="text/javascript" src="../js/scripts.min.js"></script>	
</body>
</html>